[Unit]
Description=Minecraft Dashboard API
After=network.target

[Service]
Type=simple
# User and Group will be set to current user during installation
WorkingDirectory=/opt/mcs-dashboard
Environment=PATH=/opt/mcs-dashboard/.venv/bin
EnvironmentFile=/opt/mcs-dashboard/.env
ExecStart=/opt/mcs-dashboard/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
